
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#HalamanAwalLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#HalamanAwalUsers{
    display: none;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}


#formUsers{
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#HalamanDaftar{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}